/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* colors styles */
:root{
    --primary:#FFFFFF;
    --secondary:#635551;
    --active:#E55E42;
    --banner-color:#E45020;
    --dark-black-text:#313030;
    --light-black-text:#979696;
    --about-bg:#FEF9F7;
    --grey-bg:#F8F8F8;
    --banner-button:#E6694B;
}
/* general styles */
*,*::after,*::before{
    box-sizing:border-box;
}
html{
    font-size:16px;
}
body{
    font-family:'Raleway', sans-serif;
}
.container{
    max-width:1200px;
    width:100%;
    margin:0 auto;
    padding:0 32px;
    /* border:2px solid pink; */
}
.flex{
    display:flex;
}
.flex-general{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-sp-btw{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}
.align-self-center{
    align-self:center;
}
.flex-all-center{
    display:flex;
    justify-content: center;
    align-items: center;
}
.flex-direction-column{
    flex-direction:column;
}
.text-align-center{
    text-align: center;
}
.active{
    color:var(--active) !important;
}
/* common styles */
.common-heading{
    font-size:2rem;
    font-weight: 700;
}
.common-para{
    line-height: 1.5;
    color:#313030;
}
.line-through{
    text-decoration: line-through;
    color:#9e9c9c;
}
.active-text-color{
    color:var(--active);
    font-weight: 700;
    padding-bottom:0.5rem;
}
.align-self-stretch{
    align-self: stretch;
}
.block{
    padding:0.5rem 0.6rem;
    background-color: var(--active);
    border-radius:50%;
    margin-left:0.5rem;
}
.block:hover{
    background-color:#E87954;
}
.block i{
    color:var(--primary);
}
.center-logo{
    height:2rem;
    width:2.5rem;
}
.center-logo i{
    color:var(--banner-button);
    font-size:1.5rem;
    border:0.1px solid rgb(245, 213, 204);
    padding:1rem;
    border-radius: 50%;
}
/* flex section styles */
.flex-100{
    flex:0 1 100%;
}
.flex-25{
    flex:0 1 25%;
}
.flex-16{
    flex:0 1 16%;
}
.flex-18{
    flex:0 1 18%;
}
.flex-21{
    flex:0 1 21%;
}
.flex-22{
    flex:0 1 22%;
}
.flex-24{
    flex:0 1 24%;
}
.flex-30{
    flex:0 1 30%;
}
.flex-31{
    flex:0 1 31%;
}
.flex-32{
    flex:0 1 32%;
}
.flex-34{
    flex:0 1 34%;
}
.flex-40{
    flex:0 1 40%;
}
.flex-45{
    flex:0 1 45%;
}
.flex-48{
    flex:0 1 48%;
}
.flex-49{
    flex:0 1 49%;
}
.flex-50{
    flex:0 1 50%;
}
.flex-55{
    flex:0 1 55%;
}
.flex-60{
    flex:0 1 60%;
}
.flex-65{
    flex:0 1 65%;
}

.flex-70{
    flex:0 1 70%;
}
.flex-30{
    flex:0 1 30%;
}
.flex-80{
    flex:0 1 80%;
}
.flex-90{
    flex:0 1 90%;
}
.flex-100{
    flex:0 1 100%;
}
.flex-wrap{
    flex-wrap: wrap;
}
/* header section styles */
.header{
    position: fixed;
    width:100%;
    background-color: var(--primary);
    z-index:99;
}
#toggle,.bars{
    display:none;
}
.brand{
    text-decoration: none;
}

.padding-1{
    padding:1rem 0;
}
.padding-2{
    padding:2rem 0;
}
.padding-3{
    padding:3rem 0;
}
.padding-4{
    padding:4rem 0;
}
.padding-5{
    padding:5rem 0;
}
.padding-top-2{
    padding-top:2rem;
}
.padding-bottom-3{
    padding-bottom:3rem;
}
.padding-bottom-2{
    padding-bottom:2rem;
}
.padding-bottom-1{
    padding-bottom:1rem;
}
.padding-bottom-half{
    padding-bottom:0.5rem;
}
.padding-left-right-3{
    padding-left:3rem;
    padding-right:3rem;
}
.padding-1-2{
    padding:2rem 3rem;
}
.padding-top-8{
    padding-top:6rem;
}
.nav a{
    margin-left:2rem;
    text-decoration: none;
    color:var(--secondary);
    font-weight:600;
}
.nav a:hover{
    color:var(--banner-button);
}
.brand{
    font-size: 3rem;
    font-weight:800;
    color:var(--secondary);
}
.dropdown-box{
    position:relative;
}
.dropdown-box:hover .dropdown-menu{
    display: inline-block;
    transform: translateX(-45%);
}
.dropdown-menu{
    background-color: var(--primary);
    position:absolute;
    top:1rem;
    width:13rem;
    display:none;
    box-shadow:2px 2px 5px 1px rgb(199, 199, 199);
}
.dropdown-menu li{
    padding:0.5rem;
}
.dropdown-menu a{
    margin-left:0.5rem;
}
.dropdown-menu .fa-chevron-right{
    margin-left:2rem;
    font-size:0.5rem;
}
.dropdown-box .fa-chevron-down{
    margin-left:0.8rem;
    font-size:0.5rem;
}
.deepdropdown-box{
    position:relative;
} 
.deepdropdown-box:hover .deepdropdown-menu{
    display:inline-block;
}
.deepdropdown-menu{
    background-color: var(--primary);
    position:absolute;
    left:13rem;
    width:13rem;
    display: none;
    box-shadow:2px 2px 5px 1px rgb(199, 199, 199);
 }
.deepdropdown-menu li{
    padding:0.5rem;
}  
/* hero section styles */
.hero-section{
    background: url("../media/hero-bg.jpg") no-repeat;
    background-size: cover;
    background-position:60% center;
    margin:0 auto;
    height:100vh;
    border:2px solid pink;
}
.button{
    padding:0.5rem 2rem 0.5rem 5rem;
    background-color: var(--secondary);
    display: inline-block;
    border-radius:20px;
    text-align:right;
}
.button:hover{
    background-color: var(--banner-color);
}
.round{
    height:4rem;
    width:4rem;
    border-radius:50%;
    background-color: var(--banner-color);
    position:absolute;
    box-shadow:1px 1px 1px 0.5px rgb(82, 82, 82);
}
.whole-button{
    display:flex;
    position: relative;
    align-items: center;
}
.heading-section{
    line-height:1.5;
    padding:25vh 0;
    width:80%;
    color:var(--primary);
}
.hero-heading{
    font-size:2.5rem;
    font-weight:800;
}
.hero-para{
    font-size:1.5rem;
    font-weight:600;
    padding-bottom:4rem;
}
/* article section styles */
.article-section{
    margin-top:-8rem;
}
.article-col-1{
    background-color: var(--banner-color);
    color:var(--primary);
    padding:4rem 2rem;
    border-radius: 10px;
}
.article-col-1 .common-para{
    color:var(--primary);
}
.banner-heading{
    font-size: 2rem;
    font-weight:700;
}
.button-primary{
    padding:0.5rem 2rem;
    background-color: var(--banner-button);
    display: inline-block;
    border-radius:20px;
    text-decoration: none;
    color:var(--primary);
}
.button-primary:hover{
    background-color: var(--primary);
    color:var(--banner-color)
}
.button-box{
    text-align: center;
}
.chevron{
    font-size: 0.5rem;
    padding-left:0.5rem;
}
.article-col{
    text-align:center;
    box-shadow:2px 2px 2px 0.5px rgb(199, 199, 199);
    border-radius: 10px;
    background-color: var(--primary);
}
.article-col i{
    font-size: 2rem;
    color:var(--active);
}
.article-common-heading{
    font-size:1.3rem;
    font-weight:700;
}

/* about section styles */
.about-section{
    color:var(--secondary);
    background-color:var(--about-bg);
}
.about-article-heading{
    font-size: 1.5rem;
    color:var(--secondary);
    font-weight: 700;
    padding:1rem 0;
}
.text-box{
    margin-left:1rem;
}
.about-col-1{
    padding-top:2rem;
    
}
.about-col-1 .fas{
    border:1px solid var(--banner-button);
    border-radius: 50%;
    padding: 1rem;
}
.about-col-1:hover .fas{
    background-color: var(--banner-button);
    color:var(--primary);
}

.about-image{
    width:100%;
    font-size: 0px;
    position:relative;
}
.about-image img{
    width:100%;
}
.text-box-heading {
    font-weight:700;
    color:var(--secondary);
}
.text-box-heading:hover{
    color:var(--banner-button);
}
/* client section styles */
.clients-col{
    flex:0 1 10%;
}
.clients-col img{
    width:100%;
    opacity: 0.6;
    filter: grayscale(100%);
}
.clients-col img:hover{
    filter:none;
    opacity: 1;
}
/* services section styles */
.services-section{
    color:var(--secondary);
    background-color:var(--about-bg);
}
.services-icon-box i{
    color:var(--primary);
    font-size: 2rem;
}
.services-icon-box{
    width:4rem;
    height:4rem;
    background-color: var(--banner-color);
    border-radius: 50%;
    margin:0 auto;
    margin-top:-3rem;
}
.services-icon-box:hover i{
    color:var(--banner-color);
    font-size: 1.5rem;
}
.services-icon-box:hover{
    background-color: var(--primary);
    border: 1px solid var(--banner-color);
    
}
.services-article-section .article-col{
    margin-top:4rem;
    border:0;
    box-shadow:0px 0px 2px 2px rgb(224, 224, 224);
    border-radius: 2px;
    padding:1rem;
}
/* value section styles */
.value-section{
    color:var(--secondary);
}
.value-image-box{
    width:100%;
    margin:0.5rem 0;
    position: relative;
}
.value-article:hover{
    background-color: var(--banner-color);
    color:var(--primary);
}
.value-article:hover a,.value-article:hover p{
    color:var(--primary);
}
.value-image-box img{
    width:100%;
    max-height:300px;
    object-fit: cover;
}
.value-heading-box{
    text-align:center;
}
.value-heading{
    font-size:1.2rem;
    font-weight:700;
    padding:1rem 0;
}
.read-more{
    font-size: 0.6rem;
    text-decoration: none;
    color:var(--secondary);
}
.read-more i{
    font-size:0.5rem;
    margin-right:0.5rem;
}
.value-article{
    width:80%;
    position: absolute;
    top:45%;
    left:7%;
    background-color:var(--primary);
    padding:0.5rem 1rem;
    border-radius: 5px;
}
/* testimonal section styles */
.testimonal-section{
    background: linear-gradient(to right, rgba(85, 85, 85, 0.459), rgba(85, 85, 85, 0.459)),url("../media/testimonials-bg.jpg") no-repeat;
    background-size: cover;
    background-position:center center;
    color:var(--primary);
}
.testimonal-image{
    width:10%;
    margin:0 auto;
    padding:0.5rem;
    background-color: #919191a1;
    border-radius: 50%;
}
.testimonal-image img{
    width:100%;
    border-radius: 50%;
}
.value-subheading{
    color:var(--primary);
}
.quote{
    line-height:2;
    font-size: 1.5rem;
}
.fa-quote-left,.fa-quote-right{
    margin-right:0.5rem;
}
/* portfolio section styles */
.portfolio-section{
    color:var(--secondary);
}
.portfolio-btn{
    padding:0.5rem 0.8rem;
    border-radius:1rem;
    text-decoration: none;
    font-size:0.8rem;
    color:var(--secondary);
    font-weight:700;
    margin-right:0.2rem;
}
.portfolio-btn:hover{
    background-color: #FCF1ED;
    color:var(--banner-color);
}
.btn-active{
    background-color:#FCF1ED;
    color:var(--banner-color);
}
.portfolio-btn-group{
    color:var(--primary);
}
.portfolio-image{
    margin-top: 1rem;
    position:relative;

}
.portfolio-image  img{
    width:100%;
}
.portfolio-image:hover .white-banner{
    display: inline-flex;
}
.white-banner{
    background-color:var(--primary);
    width:90%;
    margin:0 auto;
    position:absolute;
    top:60%;
    left:5%;
    padding:1.5rem 0rem;
    padding:1rem;
    display:none;
   

}
.white-banner-links span i{
    margin-right:0.5rem;
}
.fa-plus:hover,.fa-link:hover{
    color:var(--banner-button);
}
.white-banner h3{
    font-size:1.2rem;
    font-weight:700;
    padding-bottom:0.5rem;
}
.white-sub-heading{
    margin-left:-1rem;
}
/* team section styles */
.team-col-1{
   width:100%;
   border-radius:5px;
   position: relative;
}
.team-col-image{
    width:100%;
    font-size:0;
}
.team-col-1 img{
    width:100%;
}
.team-text{
    padding:1rem 0rem;
    background-color: var(--primary);
    box-shadow: 1px 1px 4px 1px rgb(202, 202, 202);
    
}
.team-section{
    background-color: var(--about-bg);
    color:var(--secondary);
}
.team-para{
    color:#9e9c9c;
    font-size: 0.8rem;
    padding-top:0.5rem;
}
.team-heading{
    font-weight:700;
}
.social-media-links{
    position: absolute;
    top:15rem;
    padding:0.8rem;
    background-color: #ffffffce;
    width:100%;
    display: none;
}
.social-media-links a{
    margin-left:0.5rem;
    margin-right:0.5rem;
    text-decoration: none;
    color:var(--secondary);
}
.team-col-1:hover .social-media-links{
    display:block;
    width:100%;
}
/* pricing section styles */
.pricing-section{
    color:var(--secondary);
}
.price-tag{
    padding:1.5rem 0;
    background-color: #F8F8F8;
    font-weight:700;
}
.price-tag-active{
    background-color: var(--banner-color);
    color:var(--primary);
}
.price-tag-button{
    text-decoration: none;
    color:var(--primary);
    padding:0.5rem 2rem;
    background-color:var(--banner-color);
    border-radius:5px;
}
.price-tag-button:hover{
    background-color:#E87954;
}
.dollar-value{
    margin:1rem 0rem;
}
sup{
    vertical-align: super;
    font-size:2rem;
    color:var(--banner-color);
    font-weight: 700;
}
.term{
    font-size:2.5rem;
    font-weight: 700;
    color:var(--banner-color);
}
.lite{
    color:#9e9c9c;
    font-size:0.8rem;
}
.features li{
    font-size:0.8rem;
    padding-bottom: 1.5rem;
}
.pricing-col-1{
    border:0.5px solid rgb(231, 231, 231);
    border-radius:5px;
}
.pricing-box-4{
    position: relative;
    overflow:hidden;
}
.advanced{
    position: absolute;
    transform: rotate(45deg);
    top:1rem;
    left:30%;
    padding:0.2rem 8rem;
    background-color: var(--banner-color);
    color:var(--primary);
    font-size:0.8rem;
}
/* faq section styles */
.faq-section{
    color:var(--secondary);
    background-color: var(--about-bg);
}
.fa-question-circle{
    font-weight:600;
    margin-right:0.2rem;
    color:var(--banner-color);
}
.faq-padding{
    padding:0.5rem ;
}
.bold-heading:hover .faq-padding,.bold-heading:hover .fa-chevron-down{
    color:var(--banner-button);
}
.faq-padding-new{
    padding:1.5rem 1rem;
    text-align:left;
    
}
.fa-chevron-down,.fa-chevron-up{
    font-size:0.8rem;
}
.bold-heading{
    font-weight:700;
}
.faq-article-section{
    width:80%;
    margin:0 auto;
}
.faq-full-bg{
    padding:1rem ;
    background-color: var(--primary);
    margin-bottom: 1rem;
}
/* contact section styles */
.contact-section{
    color:var(--secondary);
}
.contact-article-section{
    padding:1rem;
    background-color: #f6f6f6;
    border-radius:5px;

}

.contact-heading{
    font-size: 1.5rem;
    font-weight:700;
    text-align: left;
    padding:0.5rem 0rem;
    margin-top:2rem;
}
.margin-left{
    margin-left:1rem;
}
.contact-section address{
    text-align: left;
    line-height: 1.5;
    font-size:0.8rem;
    font-weight: 500;
}
.combined-section{
    width:80%;
    margin:0 auto;
}
.contact-col-1{
    box-shadow: 1px 1px 1px 2px rgb(240, 240, 240);
    padding:0rem 0rem 3rem 2rem;
    background-color: var(--primary);
}
.form{
    
    border-radius:5px;
    background-color:var(--primary);
}
.text-area{
    width:100%;
}
.form input{
    padding:1rem 0;
    border:0;
}
.form input,textarea{
    margin-top: 1rem;
    border:1px solid rgb(195, 195, 195);
}
.form input::placeholder,textarea::placeholder{
    padding:1rem;
}
.form .form-btn{
    padding:1rem 2rem;
    background-color: var(--banner-button);
    color:var(--primary);
    margin:1rem auto;
}
.form-btn:hover{
    background-color:#E87954;
}
.form-section{
    padding:0.5rem 1rem 1rem 1rem;
    background-color: #f6f6f6;
    border-radius:5px;
}
/* footer section styles */
.footer-primary-section{
    background-color: var(--about-bg);
}
.footer a{
    text-decoration: none;
    color:#656262;
}
.footer-col-1{
    color:#656262;
}
.footer-col-1 .brand-footer{
    font-size:1.5rem;
    font-weight:600;
}
.footer-col-1 address{
    padding:1.5rem 0;
    font-size:0.8rem;
    line-height:1.5;
    
}
.nav-1 .phone,.nav-1 .email{
    font-size:0.7rem;
    padding-top:0.5rem;
}
.nav-1 .phone span,.nav-1 .email span{
    font-weight:700;
}
.footer h2{
    font-size:0.8rem;
    font-weight:600;
}
.footer-col-common li{
    padding-top:1.5rem;
    font-size:0.8rem;
}
.footer-col-common i{
    font-size:0.5rem;
    margin-right:0.5rem;
}
.footer-col-4 p{
    font-size:0.8rem;
    line-height: 1.5;
    padding:1rem 0;
}
.search-bar{
    border:2px solid rgb(238, 220, 223);
    border-radius:2rem;
    padding-left:0.5rem;
    width: 100%;
    
}
.search-btn{
    background-color: var(--active);
    border-radius: 20px;
    padding:0.5rem 1rem 0.5rem 1.5rem; 
    font-size:0.8rem;
    color:var(--primary)!important;
}
.search-in-bar{
    display: inline-block;
    border:0;
    outline: none;
}

.small{
    font-size:0.8rem;
}
.footer small span{
    font-weight:700;
}
.footer-secondary-para{
    font-size:0.8rem;
    padding-top:0.5rem;
}
.footer .fa-chevron-right{
    color:var(--banner-color);
}


@media screen and (max-width:1200px){

    /* common styles */
    html{
        font-size:14px;
    }
    .container{
        max-width:1140px;
    }
    .md-column{
        flex-direction:column;
    }
    .brand{
        position:relative;
        z-index:99;
    }


    /* header section styles */
    .nav-bar{
        display:none;
    }
    .nav-bar li{
        margin:2rem 0;
        font-size:2rem;
    }
    .nav-bar li a {
        color:var(--primary);
    }
    #toggle:checked ~ .nav-bar{
        display:inline-block;
    }
    .bars{
        display:inline-block;
        font-size:2rem;
        color:var(--banner-color);
        position: fixed;
        z-index:99;
        right:3rem;
        top:1.6rem;
    }
    .nav-bar{
        position:fixed;
        left:0;
        right:0;
        bottom:0;
        top:0;
        width:100%;
        height:100vh;
        text-align: center;
        background-color: rgba(221, 165, 143, 0.856);
        padding-top:6rem;
    }
    /* article section */
    .flex-34{
        flex:0 1 100%;
    }
    .flex-21{
        flex:0 1 100%;
    }
    .article-col{
        margin-top:2rem;
        box-shadow: 2px 2px 5px 3px rgb(190, 190, 190);
    }
    .margin-clearance{
        margin-top:-16rem;
    }
    /* about section styles */
    .flex-40,.flex-55{
        flex:0 1 100%;
    }
    .medium-hide{
        display: none;
    }
    .about{
        padding:2rem 0 1rem 0;
        font-size:1.5rem;
    }
    /* client section styles */
    .clients-section .clients-col{
        flex:0 1 20%;   
    }
    /* services section styles */
    .flex-30{
        flex:0 1 45%;
    }

    /* testimonal section styles */
    .quote{
        font-size:1rem;
    }
    /* portfolio section styles */
    .flex-32{
        flex:0 1 48%;
    }
    /* team section styles */
    .flex-24{
        flex:0 1 48%;
    }
    .team-col-1,.pricing-col-1{
        margin-top:2rem;
    }
    /* contact section styles */
    .md-flex-100{
        flex:0 1 100%;
    }
    .contact-col-1{
        margin-top:1rem;
    }
    /* footer section styles */
    .md-flex-48{
        flex:0 1 48%;
    }
    .footer-flex-box{
        flex-direction: column;
        align-items: center;
    }
    .footer-text-center{
        text-align: center;
    }
    .search-bar{
        border:2px solid rgb(238, 220, 223);
        border-radius:2rem;
        width: 80%;  
    }
    .search-btn{
        text-align: center;
    }
    .footer-col-1,.footer-col-2{
        padding-bottom:2rem;
    }
    .social-media-links{
        top:84%;
    }
    .advanced{
        left:75%;
        padding:0.2rem 4rem;
    }
}

@media screen and (max-width:1024px){
    .container{
        max-width:960px;
    }
    .dollar{
        left:38%;
    }
    .social-media-links{
        top:81%;
    }
    .advanced{
        left:75%;
        padding:0.2rem 4rem;
    }
   
}
@media only screen and (max-width:920px){
    .container{
        max-width:840px;
    }
    .value-article{
        top:25%;
        left:10%;
    }
    .social-media-links{
        top:76%;
    }
    .advanced{
        left:70%;
        padding:0.2rem 5rem;
    }
}
@media only screen and (max-width:760px){
    .container{
        max-width:720px;
    }
    html{
        font-size:12px;
    }
    /* about section styles */
   /* client section styles */
   .small-hide{
       display: none;
   }
   .clients-section .clients-col{
    flex:0 1 45%;   
    }
    /* services section styles */
    .sm-flex-100{
        flex:0 1 100%;
    }
    .flex-30{
        flex:0 1 100%;
    }
    /* testimonal section styles */

    /* portfoio section styles */
    .flex-32{
        flex:0 1 100%;
    }
    /* value section styles */
    .value-article{
        top:50%;
        left:10%;
    }
    /* pricing article styles */
    .flex-24{
        flex:0 1 100%;
    }
    .dollar{
        left:25%;
    }
    /* contact form styles */
    .flex-48{
        flex:0 1 100%;
    }
    /* footer section styles */
    .footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4{
        flex:0 1 100%;
    }
    .footer-col-4 h2{
        padding-top:2rem;
    }
    .social-media-links{
        top:85%;
    }
    .advanced{
        left:85%;
        padding:0.2rem 5rem;
    }
    
}
@media screen and (max-width:540px){
    .term{
        margin-left:0rem;
    }
    .dollar{
        left:35%; 
    }
    .value-article{
        top:50%;
        left:10%;
    }
}
@media only screen and (max-width:440px){
    .container{
        max-width:360px;
    }
    html{
        font-size:8px;
    }
    
    .value-article{
        top:35%;
        left:10%;
    }
    .social-media-links{
        top:87%;
    }
    .advanced{
        left:80%;
        padding:0.2rem 5rem;
    }
}
    @media only screen and (max-width:360px){
        .container{
            max-width:280px;
        }
        html{
            font-size:10px;
        }
        .value-article{
            top:20%;
            left:10%;
        }
        .social-media-links{
            top:80%;
        }
        .form input{
            width:50%;
        }
        .faq-article-section{
            text-align: left;
        }
        .advanced{
            left:65%;
            padding:0.2rem 7rem;
        }
        
    }
    @media only screen and (max-width:320px){

        html{
            font-size:8px;
        }
        .container{
            max-width:240px;
        }
        .social-media-links{
            top:81%;
        }
        .advanced{
            left:70%;
            padding:0.2rem 6rem;
        }
    }


/* blog page styles */
.blog-content-section{
    color: #473D3A;
}
.blog-article-btn-box{
    text-align: right;
}
.blog-btn{
    padding:0.5rem 1rem;
    background-color: var(--banner-button);
    display: inline-block;
    color:var(--primary);
    border-radius:5px;
    margin:1rem;
}
.blog-heading{
    font-size:1.5rem;
    font-weight:700;
    line-height: 1.5;
}
.blog-heading:hover{
    color:var(--banner-button);
}
.blog-article-col-1{
    margin-bottom:3rem;
}
.article-image-box{
    width:100%;
    font-size:0;
}
.article-image-box img{
    width:100%;
    max-height:440px;
    object-fit: cover;
}

.blog-heading-section{
    padding:6rem 0rem 1rem 0rem;
    background-color: var(--about-bg);
}
.post-details{
    font-size: 0.8rem;
    color:#6B6868;
    padding:1rem 0;
}
.article-text{
    box-shadow:2px 2px 5px 1px rgb(199, 199, 199);
    padding:1rem;
}
.date ,.comments{
    margin-right:0.5rem;
}
.post-details span i{
    margin-right:0.5rem;
}
.blog-heading-top{
    font-size:0.8rem;
}
.blog-heading-top a{
    text-decoration: none;
    color:var(--banner-button);
}
.blog-heading-2{
    font-size:1.5rem;
    padding-top:1rem;
}
.page-number{
    margin-left:30%;
}
.page-number div{
    padding:0.8rem;
    margin:0.2rem;
}
.page-number div:hover{
    background-color: var(--banner-button);
    color:var(--primary);
}
.active-button{
    background-color: var(--banner-button);
    color:var(--primary);
}
/* aside-bar section styles */
.aside-section{
    color:#4B413E;
}
.recentpost-date{
    font-size: 0.9rem;
    font-style:italic;
    color:rgb(189, 189, 189);
}
.aside-wrapper{
    padding:2rem;
    box-shadow:2px 2px 5px 1px rgb(199, 199, 199);
    align-self:stretch;
}
.search-button{
    padding:0.5rem;
    background-color:var(--banner-button);
    color:white;
}
.search-box input{
    border:0;
    border:1px solid rgb(214, 214, 214);
    outline:none;
}
.recent-post-image{
    width:100%;
}
.recent-post-image img{
    width:100%;
}
.aside-heading{
    font-weight:700;
    font-size: 1.2rem;
}
.tags span{
    padding:0.5rem;
    border:0.5px solid rgb(226, 226, 226);
    display:inline-block;
    font-size:0.9rem;
    margin-top:0.5rem;
    border-radius: 5px;
}
.tags span:hover{
    background-color: var(--banner-button);
}
.special-heading{
    font-weight:700;
    font-size:0.8rem;
    line-height: 1.4;
}
.special-heading:hover{
    color:var(--banner-button);
}
.aside-nav li{
    font-size:0.9rem;
    font-weight:500;
}
.aside-nav li:hover{
    color:var(--banner-button);
}
.aside-nav span{
    font-weight: 500;
    color: rgb(170, 170, 170);
}
@media only screen and (max-width:1024px){
    .container{
        max-width:960px;
    }
    .flex-65{
        flex:0 1 100%;
    }
    .flex-30{
        flex:0 1 100%;
    }
    .flex-wrap{
        flex-wrap: wrap;
    }
    .page-number{
        margin-left:40%;
    }
    .recent-post-image{
        padding-right: 2rem;
    }
}